html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
}

#qrcode {
    position: fixed;
    right: 24px;
    bottom: 24px;
}